body {
  margin: 0;
  color: #3d3b47;
  font-family: 'Work Sans', sans-serif;
}

header {
  position: relative;
  margin-top: 30px;
  padding: 5vw;
}

footer {
  margin-bottom: 90px;
}

h1 {
  text-align: center;
  font-size: 24px;
  margin-top: 20px;
}

h2 {
  text-align: center;
  font-size: 36px;
  font-weight: 600;
}

h3 {
  padding:3vw 0 0.5vw 0;
  font-size: 24px;
  font-weight: 600;
}

li {
  list-style: none;
}

.list li:before {
  margin-left: -2em;
  margin-right: 1em;
  position: absolute;
  content: '×';
}

a {
  font-weight: bold;
  color: #3d3b47;
  text-decoration: underline;
}

a:hover {
  font-weight: bold;
  color: #ed5e42;
  text-decoration-color: #2798c4;
}

.funbox a:hover {
  color: #023300;
  text-decoration-color: #bccf01;
}

.wrapper {
  max-width: 760px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;
  font-weight: 300;
}

.sub {
  font-size: 20px;
  font-weight: 400;
}

.language {
  position: absolute;
  right: 0;
  top: 0;

  text-transform: uppercase;
}

.active {
  font-style: italic;
}

.rool {
  margin: 0;
  padding: 0;
}

.rool--open-source {
  display: flex;
  flex-wrap: wrap;
}

.rool--open-source li {
  width: 330px;
  margin-right: 20px;
}

.poster {
  position: relative;
}

.poster:hover .gif {
  display: block;
  transition: 1s;
}

.gif {
  display: none;
  position: absolute;
  margin-left: 230px;
  margin-top: -230px;
}

.inactive {
  color: #d9d9d9;
}

.inactive a {
  font-weight: bold;
  color: #d9d9d9;
}

.inactive a:hover {
  color: #ed5e42;
  text-decoration-color: #2798c4;
  font-weight: bold;
}

.container {
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.img-center {
  display: block;
  width: 300px;
  margin: 0 auto;
}

.footer-shrug {
  text-align: center;
}

/* edctn */
.bg-edctn {
  background-color: #fcf5f3;
  background-image: url(../img/edctn_background.png);
  background-repeat: repeat;
  background-position: 215px 0;
  background-attachment: fixed;
}

.edctn-title {
  font-weight: bold;
  background-size: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(123.97deg,#4fd8ab 10.62%,#5ea1e7 43.12%,#8375d0 89.61%);
}

.bg-edctn a {
  font-weight: bold;
  color: #3d3b47;
  text-decoration: none;
}

.bg-edctn a:hover {
  font-weight: bold;
  color: #3d3b47;
  text-decoration: underline;
}

/* spoapo */
.bg-spoapo {
  background-color: #61609a;
  background-image: url(../img/bg_spoapo.png);
  color: #fcf5f3;
}

.spoapo-title {
  font-weight: bold;
  color: #f9cc73;
}

.bg-spoapo ::selection {
  background: #f9cc73;
  color: #61609a;
}

.bg-spoapo a {
  font-weight: bold;
  color: #fcf5f3;
  text-decoration: none;
}

.bg-spoapo a:hover {
  font-weight: bold;
  color: #fcf5f3;
  text-decoration-color: #fcf5f3;
  text-decoration: underline;
}

/* weighbull */
.bg-weighbull {
  background-color: #161930; /* #161930 #1d1f2f #171B29 #161a2f */
  color: #EEE3C1;
}

.weighbull-title {
  font-weight: bold;
  color: #eb1830;
}

.bg-weighbull ::selection {
  background: #eb1830;
  color: #EEE3C1;
 }

 .bg-weighbull a {
  font-weight: bold;
  color: #EEE3C1;
  text-decoration: none;
}

.bg-weighbull a:hover {
  font-weight: bold;
  color: #EEE3C1;
  text-decoration: underline;
}

/* sestra.ai */
.bg-blue {
  background-color: #cfe0ff;
}

.sestra-title {
  font-weight: bold;
  color: #293872;
}

.bg-blue ::selection {
  background: #293872;
  color: #cfe0ff;
 }

.bg-blue a {
  font-weight: bold;
  color: #293872;
  text-decoration: none;
}

.bg-blue a:hover {
  font-weight: bold;
  color: #293872;
  text-decoration: underline;
}

/* layt */
.bg-layt {
  background-color: #f4f0e7;
  background-image: url(../img/bg_spoapo.png);
  color: #ff7d56;
}

.layt-title {
  font-weight: bold;
  color: #ff3c00;
}

.bg-layt ::selection {
  background: #ff3c00;
  color: #fff;
 }

 .bg-layt a {
  font-weight: bold;
  color: #ff7d56;
  text-decoration: none;
}

.bg-layt a:hover {
  font-weight: bold;
  color: #ff7d56;
  text-decoration: underline;
}

/* chat */
.bg-chat {
  background-color: #344a4c ;
  color: #fefae0;
}

.bg-chat ::selection {
  background: #809778;
  color: #fff;
 }

.chat-title {
  font-weight: bold;
  color: #ff8370;
}
